.JournalsModel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    position: absolute;
    top: 200px;
    right: 75px;
    bottom: 100px;
    overflow: scroll;
    /* height: 600px; */
    width: 400px;
    background-color:#f1efe8;
  }

  .PinTitle{
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 25px;
  }

  .AddPinButton{
    position: relative;
    z-index: 3;
    left: 10px;
    top: 98px;
    width: 168px;
    border-radius: 0px;
    
  }

  .Divider {
    width:5px;
    height:auto;
    display:inline-block;
}
  
   
